{% extends 'base.html.twig' %}

{% block title %}Musico{% endblock %}

{% block body %}
    <h1>Musico</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ musico.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ musico.nombre }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ musico.telefono }}</td>
            </tr>
            <tr>
                <th>Biografia</th>
                <td>{{ musico.biografia }}</td>
            </tr>
            <tr>
                <th>Ubicacion</th>
                <td>{{ musico.ubicacion }}</td>
            </tr>
            <tr>
                <th>Anyos_experiencia</th>
                <td>{{ musico.anyosExperiencia }}</td>
            </tr>
            <tr>
                <th>Imagen_url</th>
                <td>{{ musico.imagenUrl }}</td>
            </tr>
            <tr>
                <th>Creado_en</th>
                <td>{{ musico.creadoEn ? musico.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Actualizado_en</th>
                <td>{{ musico.actualizadoEn ? musico.actualizadoEn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Es_banda</th>
                <td>{{ musico.esBanda ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_musico_index') }}">Ir al listado de perfiles</a>

    {# Solo se muestra el botón para EDITAR cuando el perfil es del propio usuario logueado #}
    {% if app.user == musico.usuario %}
        <a href="{{ path('app_musico_edit', {'id': musico.id}) }}">Editar perfil</a>
    {% endif %}

    {# Solo se muestra el botón para BORRAR cuando el perfil es del propio usuario logueado #}
    {% if app.user == musico.usuario %}
        {{ include('musico/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
