<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Music Match{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🎵</text></svg>">
        
        {% block stylesheets %}
            {# CSS Bootswatch Vapor #}
            <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/vapor/bootstrap.min.css" rel="stylesheet">
            {# Estilos propios #}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            {# JavaScript Bootstrap #}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </head>
    <body>

		{# Menú de la aplicación #}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_inicio') }}">Music Match</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav ms-auto">
                        <a href="{{ path('app_inicio') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_inicio' ? 'active' : '' }}">Inicio</a>

						{# MENÚ DINÁMICO #}
						{# Si está autenticado, mostramos diversas opciones, también según los roles asignados #}
                        {% if app.user %}
                            
							{# Si tiene asignado el ROLE_ADMIN #}
                            {% if is_granted('ROLE_ADMIN') %}
								{# Mostramos enlace a '/admin' (panel de administración de usuarios) #}
                                <a href="{{ path('admin') }}" class="nav-link">Administrar usuarios</a>

							{# Si no tiene asignado el ROLE_ADMIN #}
							{% else %}

                                {# Si aún no tiene creado perfil de MUSICO, mostramos enlace a '/musico/new' #}
                                {% if app.user and app.user.musico is null %}
									<a href="{{ path('app_musico_new') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_musico_new' ? 'active' : '' }}">Crear perfil</a>
                            	
								{# Si ya tiene creado perfil, mostramos enlace a '/musico/{id}' (ver perfil) #}
								{% else %}
									<a <a href="{{ path('app_musico_show', {id: app.user.musico.id}) }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_musico_show' ? 'active' : '' }}">Ver mi perfil</a>
								{% endif %}
							{% endif %}
                            
							{# Mostramos enlace a '/logout' #}
                            <a href="{{ path('app_logout') }}" class="nav-link">Salir</a>

						{# Si no está autenticado, no mostramos '/logout' pero sí '/register' y '/login' #}
                        {% else %}
                            <a href="{{ path('app_register') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_register' ? 'active' : '' }}">Registro</a>
                            <a href="{{ path('app_login') }}" class="nav-link {{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}">Iniciar sesión</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
    </body>
</html>